<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Dashboard</title>
</head>
<body class="bg-blue-300">
    <div>
      <h1 class='w-full text-center text-blue-700 text-4xl'>User-Dashboard</h1>
      <button class='bg-green-600 px-3 py-2 rounded-md ml-2'><a href='/addUser'>Add user</a></button>
      <div class='flex justify-center h-fit'>
        <table class='w-2/3 border-1 border-white table-auto'>
          <thead class='bg-blue-900 text-white'>
          <tr>
          <th class='border-r-1 border-white'>Sl No.</th>
          <th class='border-r-1 border-white'>First-name</th>
          <th class='border-r-1 border-white'>Last-name</th>
          <th class='border-r-1 border-white'>Email</th>
          <th class='border-r-1 border-white'>City</th>
          <th class='border-r-1 border-white'>Actions</th>
          </tr>
          </thead>
          <tbody class='text-center'>
            <% users.map((user,index)=>{ %>
            <tr>
            <td class='bg-orange-600 border-1 border-white'><%= index+1 %></td>
            <td class='border-1 border-white'><%= user.firstname %></td>
            <td class='border-1 border-white'><%= user.lastname %></td>
            <td class='border-1 border-white'><%= user.email %></td>
            <td class='border-1 border-white'><%= user.city %></td>
            <td class='border-1 border-white py-1'>
              <div>
                <a href="/edit/<%= user._id %>" class="bg-green-700 px-2 py-1 text-white rounded-md">Edit</a>
                <a href="/delete/<%= user._id %>" class="bg-red-700 px-2 py-1 text-white rounded-md">Delete</a>
              </div>
            </td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </div>
</body>
</html>